{% extends "base.html" %}

{% block content %}

<h2>Currency Converter</h2>

<form method="POST" class="row g-2 mb-4">

<div class="col-md-3">
<input class="form-control" name="amount" type="number" step="0.01" placeholder="Amount" required>
</div>

<div class="col-md-3">
<select class="form-control" name="from_currency">
<option>USD</option>
<option>KES</option>
<option>EUR</option>
<option>GBP</option>
</select>
</div>

<div class="col-md-3">
<select class="form-control" name="to_currency">
<option>KES</option>
<option>USD</option>
<option>EUR</option>
<option>GBP</option>
</select>
</div>

<div class="col-md-2">
<button class="btn btn-dark w-100">Convert</button>
</div>

</form>


{% if converted_amount %}

<div class="alert alert-success">

Converted Amount: {{ converted_amount }} <br>

Exchange Rate Used: {{ rate }}

</div>

{% endif %}

{% endblock %}